.FormButton{
    background-color: rgba(255, 255, 255, 0.329);
    color:  white;
    font-size: 1rem;
    width: 7rem;
    height: 2rem;
    border-radius: 2px;
    border-width: 0.1px;
    border-color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    transition: all ease 0.3s;
}
.FormButton:hover{
    transform:scale(1.1) ;
}
.TopBar{
    width: 90%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    color: white;
    border-style: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 7px;
}
.dailyTip{
    display:flex;
    justify-content: center;
}
.floatingDailyTipDiv{
    display:flex;
    align-items: flex-start;
    width: 50vw;
    padding: 4px;
    background-color: rgba(19, 122, 54, 0.493);
    border-width: 1px;
    border-style: solid;
    border-color:  rgba(45, 141, 16, 0.493);
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    color: black;
    font-size: 0.75rem;
}
.dailyTipImg{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.dailyTipOverlay{
    position: absolute;
    display: flex;
    text-align: start;
    padding-left: 10px;
    justify-content: start;
    
}
.dailyTipText{
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 800px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black, 1px 1px 2px black,  1px 1px 3px black;
}
.background-video-container{

}
.background-video-container video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -101;
}
.background-video-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(0, 0, 0, 0.5)
    ); /* Subtle gradient effect */
    pointer-events: none; /* Allows interaction with elements above */
    backdrop-filter: blur(5px); /* Subtle blur effect */
    -webkit-backdrop-filter: blur(5px); /* Safari compatibility */
    opacity: 1;
    transition: all 0.3s ease;
    z-index: -99; /* Ensures overlay is above video but behind content */
}