.App {
  text-align: center;
}
#root{
  width: 100vw;
  overflow-x: hidden;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100; /* Thin */
}